body
{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(75, 26, 26);
  color: antiquewhite;
  font-size: 24px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 20px;
}

h1
{
    color: black;
}

.conteinter
{
    max-width: 1200px;
    margin: 40px auto;
    padding: 60px ;
    border-radius: 50px;
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 4px 16px black;
}

.genero
{
    max-width: 1150px;
    margin: 20px auto;
    padding: 60px ;
    border-radius: 50px;
    background-color: rgb(75, 26, 26);
    color: white;
    box-shadow: 0 4px 16px black;
    text-align: start;
}

.sinopse
{
    text-align: center;
}

.table
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

td
{
  font-family: "Newsreader", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.poem
{
    text-align: start;
    font-family: "Newsreader", sans-serif;
}

button
{
    background-color: rgb(75, 26, 26);
    color:white;
    padding: 20px 100px;
    border-radius: 50px;
    cursor: pointer;
    font-size:24px;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

button:hover
{
    background-color: white;
    color: black;
}

img
{
    width: 1150px;
}

.texto
{
    white-space: pre-line ;
}

nav
{
    background-color: rgb(75, 26, 26);
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size:24px;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav a
{
    padding: 0 50px;
}

nav a:hover
{
    color: aquamarine;
}

.curiosidades
{
    text-align: start;
}